.bannerBanner {
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.bannerSlideshow-container {
  max-width: 97%;
  height: 450px;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.bannerAllSlides {
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.bannerAllSlides.bannerActive {
  display: block;
  opacity: 1;
}

.bannerAllSlides img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.bannerDots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bannerPrev,
.bannerNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.bannerNext {
  right: 15px;
}

.bannerPrev {
  left: 15px;
}

.bannerPrev:hover,
.bannerNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.bannerText {
  color: white;
  font-size: 22px;
  padding: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.bannerNumbertext {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

.bannerDot {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.bannerDot.bannerActive {
  background-color: #fff;
}

@media (max-width: 768px) {
  .bannerSlideshow-container {
    height: 350px;
  }
  .bannerText {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .bannerSlideshow-container {
    height: 250px;
  }
  .bannerText {
    font-size: 16px;
    bottom: 15px;
  }
}
