.bannerBanner {
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.bannerSlideshow-container {
  max-width: 95%;
  height: 400px;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
}

.bannerAllSlides {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.bannerAllSlides.bannerActive {
  display: block;
  opacity: 1;
}

.bannerAllSlides img {
  height: 400px;
  vertical-align: middle;
  border-radius: 20px;
}

.bannerDots {
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.bannerPrev,
.bannerNext {
  cursor: pointer;
  position: absolute;
  background-color: #e16bff;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.bannerNext {
  right: 5px;
  height: 25px;
  border-radius: 5px;
}
.bannerPrev {
  left: 5px;
  height: 25px;
  border-radius: 5px;
}

.bannerPrev:hover,
.bannerNext:hover {
  background-color: rgba(0, 0, 0, 0.659);
}

.bannerText {
  color: white;
  font-size: 25px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

.bannerNumbertext {
  color: white;
  position: absolute;
  padding: 10px;
  font-size: 18px;
  top: 10px;
  left: 10px;
  background-color: #e16bff;
  border-radius: 5px;
}

.bannerDot {
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.bannerActive + .bannerDot,
.bannerDot:hover {
  background-color: #fff;
}

@media screen and (max-width: 500px) and (max-height: 1000px) {
  .bannerPrev,
  .bannerNext {
    font-size: 12px;
    padding: 8px;
    height: 20px;
    position: absolute;
    bottom: 200px;
    cursor: pointer;
    width: auto;
    margin-top: -60px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bannerPrev {
    top: 39%;
    position: absolute;
    margin-left: 20px;
  }
  .bannerNext {
    top: 39%;
    margin-right: 20px;
  }
  .bannerDots {
    bottom: 18px;
    font-size: 8px;
  }

  .bannerNumbertext {
    font-size: 12px;
    padding: 8px;
    top: 180px;
    left: 30px;
  }

  .bannerText {
    right: 0px;
    bottom: 280px;
    font-size: 15px;
  }
  .bannerSlideshow-container {
    max-width: 90%;
    height: 220px;
    position: static;
    margin: 0 auto;
    border-radius: 20px;
  }
  .bannerAllSlides img {
    height: 220px;
    vertical-align: middle;
    border-radius: 20px;
  }
}
