/* changepassword.css */

.change-password-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .change-password-container h2 {
    text-align: center;
    margin-bottom: 25px;
    background: linear-gradient(45deg, #ff6b6b, #ffa5b3, #ffd3b6, #64b5f6, #2bcbba);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    animation: Animation 10s linear infinite alternate;
  }
  
  @keyframes Animation {
    0% {
      background-position: 0 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .change-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #555;
    margin-bottom: 50px;
  }
  
  .form-group input[type="password"] {
    width: 93.25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }

 
  .form-group input[type="password"]:hover,
  .form-group input[type="password"]:active {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    outline: none;
  }
  .form-group input[type="password"]:focus{
    border-color: #e16bff;
    box-shadow: 0 0 0 2px rgba(247, 0, 255, 0.25);
    outline: none;
  }
  
  .change-password-button {
    width: 100%;
    padding: 12px;
    background-color: #df78f9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .change-password-button:hover {
    background-color:#a74abfc4;
  }
  