
nav {
    background:  #df78f9;
    height: 140px;
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 30px;
  }
  
  .navbarLogos {
    padding-top: 5px;
    padding-left: 20px;
    display: flex; 
    align-items:center ;
    text-decoration: none;
  }
  
  .navbarLogo {
    color: white;
    font-size: 35px;
    line-height: 90px;
    font-weight: bold;
    padding-left: 7px;
    
  }
  
  .navbarLogoImg {
    width: 90px;
    border-radius: 50%;
  }
  
  .navbarUl {
    padding-top: 20px;
    margin-right: 20px;
  }
  .navbarShow{
    margin-right: 10px;
  }
  .navbarLink {
    padding-top: 20px;
    display: inline-block;
    line-height: 80px;
    margin: 0 3px;
  
  }
  
  .fa-user {
    font-size: 2em;
    color: white;
  }
  
  .navbarProfile {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    line-height: 50px;
    padding: 0px 5px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .profileInfo {
    display: flex;
    align-items: center;
  }
  
  .navbarAnc {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  .navBarTitle{
    display: flex;
    align-items: center; 
    text-decoration: none; 
 
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .navbarProLink{
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
  
  }
  
  .navbarAnc:hover {
    background: rgba(212, 56, 251, 0.2); 
    box-shadow: 1px 2px 2px rgba(209, 26, 255, 0.405); 
    transition: 0.5s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  .dropdownMenuItem button {
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    padding: 0; 
    font-size: inherit; 
  }

  .dropdownMenuItem button:hover {
    text-decoration: underline; 
    color: #ff0000; 
    font-weight: bold;
    cursor: pointer;
  }
  
  #check {
    display: none;
  }

  .active {
    font-weight: bold;
    color: #7eeacd; 
    background: rgba(255, 255, 255, 0.4); 
  }
  
  .dropdownMenu {
    position: absolute;
    top: calc(100% + 0px);
    left: -12px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top: none;
    padding: 5px 0;
    width: calc(100% + 30px); 
  }
  
  .dropdownMenuItem {
    padding: 8px 15px;
    list-style: none;
  }
  
  .dropdownMenuItem a {
    text-decoration: none;
    color: black;


  }
  
  .dropdownMenuItem a:hover {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  /* Media Queries */
  
  @media (max-width: 952px) {
    .navbarLogo {
      font-size: 30px;
      padding-left: 50px;
    }
  
    .navbarUl li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    .navbarUl {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    .navbarUl li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
  
  
    .navbarAnc:hover,
    .navbarAnc.active {
      background: none;
      color:  #d644fb
    }
  
    #check:checked ~ .navbarUl {
      left: 0;
    }
  }
  